/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --color-primary: black;
    --color-secondary: white;
    --color-tertiary: rgb(135,206,235);
    --body-font-family: 'EB Garamond', serif;
    --body-font-size:2rem;
    --body-font-weight:400;
    --body-line-height: 1.5;
}

/*:-webkit-scrollbar{
    display: none;
}*/

h1{
    font-size: 1.5rem;
    font-weight: normal;
}

.bukantBanner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bukantBanner img{
    width: 30%;
    margin: 12px;
    pointer-events: none;
    user-select: none;
    
}

#bukantexclusive{
    background:rgba(255, 160, 122, 0.2);
    border-radius: 6px;
}

.logo{
    height: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}
.logo img{
    height: 100%;
    width: fit-content;
    cursor:pointer;
}

#logoMobile{
    display: flex;
}
#logoWeb{
    display: none;
}


@media screen and (min-width:1024px) {
    .bukantBanner{
        display: flex;
    }
    .bukantBanner img{
        width: 10%;
        
    }
    .logo{
        height: fit-content;
        width: 80%;
        margin: 0;
        margin-left:10% ;
        
    }

    #logoMobile{
        display: none;
    }
    #logoWeb{
        display: flex;
    }
    
}

#body{
    height: 100%;
    width: 100%;
    margin: 0;
    outline: none;
    overflow-y:scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav{
    height: 48px;
    background-color: var(--color-primary);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    z-index: 3;
    position: fixed;
    top: 0;
    user-select: none;
}

nav div{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav p{
    margin: 1rem;
    cursor: pointer;
    user-select: none;
}

.description{
    text-align: justify;
    font-size: 0.875rem;
}
.tag{
    text-align: left;
    width: 100%;
}

.miscinfo{
    font-size: 0.875rem;
    text-align: justify;
}


.otherInformation{
    width: 75%;
    text-align: center;
    display:flex ;
    justify-content: space-evenly;
    align-items: center;
}

.otherInformation p{
    font-size: 0.75rem;
    cursor: pointer;
    user-select: none;
    margin: 3px;
    color: #444;
    text-decoration: underline;
}

.socials{
    width: 80%;
}
.socials div{
    text-align: center;
    width: 100%;
}

.socialsIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#instagram:hover{
    fill: #8a3ab9;
}

#facebook:hover{
    fill:#3b5998;
}

#youtube:hover{
    fill: #c4302b;
}
.socialsIcons svg{
    width: 3rem;
    height: 3rem;
    margin: 8px;
    transition: all 0.3s;
    cursor: pointer;
}

#cartIconContainer{
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    animation: none;
}

#cartIconContainer img{
    height: 22px;
    width: 22px;
    filter: invert(100%);
    cursor: pointer;
}

#cartCounter{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    background-color: red;
    border-radius: 22px;
    z-index: 4;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    
}
#cartCounter p{
    margin: 0;
    font-size: 10px;
    color:white; 
    transform: rotate(0deg);
}


.menu{ 
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

#menubar1{
    background-color: white;
    width: 18px;
    height: 2px;
    margin: 2px;
    transform-origin: center;
    transform: rotate(0) translate(0);
    transition: all 0.3s;
}
#menubar2{
    background-color: white;
    margin: 2px;
    width: 18px;
    height: 2px;
    transform-origin: center;
    transform: rotate(0) translate(0);
    transition: all 0.3s;
}

#categoriesMobile{
    height: 100vh;
    width: 100%;
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    color: white;
    text-decoration: none;
    background-color: var(--color-primary);
    position: fixed;
    top: 100%;
    left: 0;
    transition: all 0.3s;
    z-index: 2;
}
.categoriesTitle{
    width: 50%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s;
}

.categoriesTitle:hover{
    color: var(--color-tertiary);
}

#booksCategory, #aboutCategory, #artCategory{
    width: 50%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-size: 1rem;
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
}
#booksAdd, #aboutAdd, #artsAdd{
    transform: rotate(0deg);
    color: white;
    transition: all 0.2s ease;
    font-size: 1.5rem;
}

main{
    margin-top: 48px;
    width: 90%;
    min-height: calc(100vh - 96px);
    display: flex;
    flex-direction:column;
}

section{
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center ;
    color: black;
}

section h1{
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
}

.rails{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items:center ;
}
.card{
    height: fit-content;
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.newarrival{
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 2;
    font-size: 0.75rem;
    background-color: red;
    color: white;
    padding: 1px;
    line-height: 2rem;
    border-radius: 6px;
    width: 72px;
    text-align: center;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookCover{
    width: 100%;
    height: 100%;
    margin: 18px;
    max-width: 196px;
    max-height: 278px;
}
.bookCoverDetails{
    width: 100%;
    height: 100%;
    margin: 12px;
}

.authorRails{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items:center ;
}

.authorCard{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.authorDetails{
    width: 50%;
    height: 50%;
}

.authorCover{
    height: 9rem;
    width: 9rem;
}

.authorCard p{
    font-size: 1rem;
}

@media screen and (min-width:1024px) {
    .bookCover{
        width: 75%;
        height: 75%;
    }
    .bookCoverDetails{
        width: 50%;
        height: 50%;
    }
    .authorCover{
        width: 75%;
        height: 75%;
    }
    .authorDetails{
        width: 25%;
        height: 25%;
    }
    .authorRails{
        grid-template-columns: auto auto auto auto;
    }
}

.Acard{
    height: fit-content;
    margin: 12px;
    display: flex;
    width: fit-content;
}
.AbookCover{
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
}

.bookDetail{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bookDetailAlpha{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.bookDetailAlpha p{
    margin: 8px;
    font-size: 0.75rem;
}

.bookDetailBeta{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bookButton{
    font-size: 0.75rem;
    height:1.7rem;
    margin: 0;
    width: 90%;
    max-width: 128px;
    margin-bottom: 8px;
    border: none;
    border-radius: 22px;
    background-color: black;
    color: white;
    cursor: pointer;
}

@keyframes cardNudge {
    0%{transform: translate(0px);}
    10%{transform: translate(-1px);}
    20%{transform: translate(1px);}
    30%{transform: translate(-1px);}
    40%{transform: translate(1px);}
    50%{transform: translate(-1px);}
    100%{transform: translate(0px);}
    
  }

footer{
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer::before{
    font-size: 0.875rem;
    content: "Copyright \00a9   2022 BUKANT";
}

@media screen and (min-width:1024px) {
    nav{
        height: 100%;
        background-color: black;
        width: 48px;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        z-index: 2;
        position: fixed;
        top: 0;
        left:0;
    }
    .logo img{
        height: 100%;
        width: 100%;
    }
    #categoriesMobile{
        height: 100%;
        width: 100%;
        margin-top: 0;
        margin-left: 48px;
    }
    main{
        margin-top:0;
        margin-left: 48px;
    }

    .rails{
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content:space-around;
        align-items:center ;
        overflow: hidden;
    }
}

#invalidUsername{
    color: red;
    display:none;

}
#invalidPassword{
    color: red;
    display:none;
}
#invalidRegUsername{
    color: red;
    display:none;

}
#invalidRegPassword{
    color: red;
    display:none;
}

#loginForm{
    max-width: 375px;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
#regForm{
    max-width: 375px;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
#loggedIn{
    padding-top: 12px;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.useridContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#useridImage{
    width: 92px;
    width: 92px;
    min-width: 92px;
    min-height: 92px;
    border-radius: 50%;
    background-color: green;
}
.useridContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.useridContainerR div div p{
    margin: 4px;
}


.ebook{
    min-width: 8.25rem;
    min-height: 13.2rem;
    height: fit-content;
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.accountButton{
    line-height: 1rem;
    width: 50%;
    max-width: 128px;
    margin: 8px;
    padding: 4px;
    border: none;
    border-radius: 22px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.accountOrderTable{
    table-layout:fixed;
    width: 100%;
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
}
.accountOrderTable th{
    background-color: black;
    color: white;
}
.accountOrderTable td, th{
    border: 1px solid black;
    text-align: center;
}

.displayBanner{
    background-color: var(--color-primary);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}

.displayBanner img{
    width: 50%;
    height: 50%;
}

@media screen and (min-width: 1024px) {
    .displayBanner{
        width: 50%;
    }
}
